*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    /* background-color: #8ecdff; */
    background:linear-gradient(to right,#9c27b0,#8ecdff);
    text-align:center;
    position:relative;
}
.card{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:100px;
    /* text-align: center; */
}
h2{
    font-size:50px;
    text-align: center;
}
button{
    width:70px;
    height:50px;
    font-size:50px;
    
}